# Sales Analysis

#### Import necessary library

In [1]:
import os
import pandas as pd

#### Merge all files into a file

In [5]:
path = "./data"

files = [file for file in os.listdir(path) if not file.startswith(".")] # ignore hidden file

all_months_data = pd.DataFrame()

for file in files:
    current_data = pd.read_csv(path+"/"+file)
    all_months_data = pd.concat([all_months_data, current_data])
    
all_months_data.to_csv("all_data_copy.csv", index=False)

In [7]:
df = pd.read_csv("all_data_copy.csv")
df.head()

,Unnamed: 0,Order ID,Product,Quantity,Price Each,Order Date,Purchase Address
0,0,34352,34in Ultrawide Monitor,1,379.99,04/28/2020 21:47:46,"4864 Willow St, Dallas, TX 75001"
1,1,34353,AA Batteries (4-pack),1,3.84,04/29/2020 06:33:00,"5103 Jefferson St, Los Angeles, CA 90001"
2,2,34354,Lightning Charging Cable,1,14.95,04/28/2020 16:38:34,"6451 7th St, Portland, OR 97035"
3,3,34355,iPhone,1,700.00,04/29/2020 18:08:42,"3785 Main St, Dallas, TX 75001"
4,4,34355,Wired Headphones,1,11.99,04/29/2020 18:08:42,"3785 Main St, Dallas, TX 75001"

In [24]:


# Find NAN
nan_df = df[df.isna().any(axis=1)]
display(nan_df.head())

# all_data = all_data.dropna(how='all')
# all_data.head()

df.loc[df['Product'] == "iPhone"].describe()

Empty DataFrame
Columns: [Unnamed: 0, Order ID, Product, Quantity, Price Each, Order Date, Purchase Address]
Index: []

         Unnamed: 0       Order ID     Quantity  Price Each
count   7139.000000    7139.000000  7139.000000      7139.0
mean    7784.159266   80319.572629     1.001681       700.0
std     5393.580147   46683.759828     0.040967         0.0
min        0.000000    1010.000000     1.000000       700.0
25%     3507.000000   39791.000000     1.000000       700.0
50%     7056.000000   80030.000000     1.000000       700.0
75%    10842.000000  120498.500000     1.000000       700.0
max    25233.000000  161898.000000     2.000000       700.0